---
layout: default
---

Click here if you want to read it in <a href="{{ site.baseurl }}/en">English<</a>

Die deutsche Übersetzung kommt bald...

<div class="posts">
  {% for post in site.posts %}
	{% if post.lang == page.lang %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
	{% endif %}
  {% endfor %}

</div>
